<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/public/css/dataTables.bootstrap.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/public/css/main.css" type="text/css" media="all" />
        <title>Bookshelf</title>
    </head>
    <body>
        <header class="page-header">
            <h1>Bookshelf</h1>
        </header>
        {{ block "body" .}}
        123
        {{ end }}
    </body>
    <script src="/public/js/jquery-1.12.4.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.dataTables.min.js"></script>
    <script src="/public/js/dataTables.bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
</html>
