body {
    background: white;
    color: black;
}
.page-header > h1 {
    text-align: center;
}
.gap-container > .row {
    padding-bottom: 10px;
}
p {
    padding: 15px;
}
.g-hidden {
    display: none;
}
.fill {
    width: 100%;
}
@media (max-width: 992px) {
    .row div {
        padding-bottom: 10px
    }
}
