{{ define "body" }}
    <div class="container gap-container">
        <div class="row">
            <div class="col-xs-10">
                <select name="atheneum" id="atheneum" class="form-control"></select>
            </div>
            <div class="col-xs-2">
                <a href="#" class="btn btn-default fill atheneum-btn">OK</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="main-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Authors</th>
                            <th width="10"></th>
                            <th width="10"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Authors</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-success success-message"></div>
        <div class="bg-danger error-message"></div>
        <div class="row g-hidden form-update-row">
            <form action="" method="" class="form-update">
                <div class="col-md-4">
                    {{ .csrfField }}
                    <input type="text" class="form-control" id="name" name="name" value="" placeholder="Book name" />
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="authors" name="authors" value="" placeholder="Book authors splitted by comma" />
                    <input type="hidden" name="atheneum_id" class="atheneumId" value="" />
                </div>
                <div class="col-md-2">
                    <input type="submit" class="form-control" value="Save">
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-default fill cancel-btn">Cancel</a>
                </div>
            </form>
        </div>
        <div class="row form-create-row">
            <form action="/book/" method="POST" class="form-create">
                <div class="col-md-4">
                    {{ .csrfField }}
                    <input type="text" class="form-control" id="name" name="name" value="" placeholder="Book name" />
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="authors" name="authors" value="" placeholder="Book authors splitted by comma" />
                    <input type="hidden" name="atheneum_id" class="atheneumId" value="" />
                </div>
                <div class="col-md-2">
                    <input type="submit" class="form-control" value="Save">
                </div>
            </form>
        </div>
    </div>
{{ end }}
